# Ignore all the compiled files
**/*.out*
**/*.o

# Ignore the result files
**/*.avi

src/**/*.json
src/**/*.json
src/**/*.csv
src/**/*.csv
src/**/*.txt
src/**/*.txt

# views
views/assets/checks.js
views/assets/get.sh

# node_modules
**/node_modules/

# c output files
src/c/*.out
src/c/*.o

# go output files
src/go/*.out
src/go/**/main

# julia output files
src/julia/*.out
src/julia/*.o

# SLURM specific files
src/err.log
src/out.log

.vscode

src/go/go.sum
src/**/*.pprof