# Ignore all the compiled files
**/*.out
**/*.o

# Ignore the result files
**/*.avi

**/s*.json
**/p*.json
**/s*.csv
**/s*.csv

# views
views/checks.js

# node_modules
**/node_modules/

# c output files
src/c/*.out
src/c/*.o

# go output files
src/go/*.out
src/go/**/main

# julia output files
src/julia/*.out
src/julia/*.o