<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Rezultati</title>
    <link rel="stylesheet" href="assets/check.css">
</head>

<body>
    <h1>Preverjanje rezultatov</h1>
    <i>Pravilnost posameznih programov je določena na podlagi rešitev v
        <b>tests/&lt;algoritem&gt;/solutions/&lt;xy&gt;.json</b></i>
    <div id="results"></div>
    <div id="charts" class="charts">
        <div id="partition_charts" class="partition_charts">
            <h2>Partition</h2>
        </div>
        <div id="kamadakawai_charts" class="kamadakawai_charts">
            <h2>Kamada Kawai</h2>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="assets/checks.js"></script>
    <script src="assets/algo.js"></script>
    <script>
        // Function to display data
        window.onload = function displayData() {
            // Partition problem
            const result = document.getElementById('results');
            for (let x in results) {
                const problemTable = document.createElement('table');
                problemTable.classList.add('problem-table');

                const problemTableHead = document.createElement('thead');
                const problemTestcaseHead = document.createElement('tr');

                const langHead = document.createElement('th');
                langHead.innerText = 'Lang';

                const algoHead = document.createElement('th');
                algoHead.innerText = 'Algo';

                const algoDescription = document.createElement('th');
                const linkToDescription = document.createElement('a');
                linkToDescription.target = '_blank';
                linkToDescription.href = `./assets/algo.js`;
                linkToDescription.innerText = 'Description';
                algoDescription.appendChild(linkToDescription);

                problemTestcaseHead.appendChild(langHead);
                problemTestcaseHead.appendChild(algoHead);
                problemTestcaseHead.appendChild(algoDescription);
                problemTableHead.appendChild(problemTestcaseHead);

                if (x === 'partition') {
                    const sortedKeys = partitionThreads
                        .map(Number)
                        .sort((a, b) => a - b)
                        .map(num => num.toString().padStart(2, '0'));

                    for (let y of partitionTests) {
                        for (let z of sortedKeys) {
                            const testcase = document.createElement('th');

                            const linkToDoc = document.createElement('a');
                            linkToDoc.target = '_blank';
                            linkToDoc.href = `../tests/${x}/${y}.json`;
                            linkToDoc.innerText = `${y}.json [${z} threads]`;

                            testcase.appendChild(linkToDoc);

                            problemTestcaseHead.appendChild(testcase);
                        }
                    }
                } else if (x === 'kamada_kawai') {
                    const sortedKeys = kamada_kawaiThreads
                        .map(Number)
                        .sort((a, b) => a - b)
                        .map(num => num.toString().padStart(2, '0'));
                    for (let y of kamada_kawaiTests) {
                        for (let z of sortedKeys) {
                            const testcase = document.createElement('th');

                            const linkToDoc = document.createElement('a');
                            linkToDoc.target = '_blank';
                            linkToDoc.href = `../tests/${x}/${y}.json`;
                            linkToDoc.innerText = `${y}.json [${z} threads]`;

                            testcase.appendChild(linkToDoc);

                            problemTestcaseHead.appendChild(testcase);
                        }
                    }
                }

                problemTable.appendChild(problemTableHead);

                const problemTestcaseBody = document.createElement('tbody');

                for (let l in results[x]) {
                    const langRow = document.createElement('tr');
                    langRow.classList.add('lang-row');

                    const langCell = document.createElement('td');
                    langCell.classList.add('lang-cell');
                    langCell.rowSpan = Object.keys(results[x][l]).length;
                    langCell.innerText = l;

                    langRow.appendChild(langCell);
                    problemTestcaseBody.appendChild(langRow);

                    let firstAlgo = true;

                    for (let a in results[x][l]) {
                        const algoRow = document.createElement('tr');

                        const algoCell = document.createElement('td');
                        algoCell.classList.add('algo-cell');
                        algoCell.rowSpan = 1;
                        algoCell.innerText = a;

                        const algoDetailCell = document.createElement('td');
                        algoDetailCell.classList.add('algo-detail-cell');
                        algoDetailCell.rowSpan = 1;
                        algoDetailCell.innerHTML = algoDetail[x][l][a] ? algoDetail[x][l][a] : '/';

                        if (firstAlgo) {
                            langRow.appendChild(algoCell);
                            langRow.appendChild(algoDetailCell);
                        } else {
                            algoRow.appendChild(algoCell);
                            algoRow.appendChild(algoDetailCell);
                        }

                        const sortedKeys = Object.keys(results[x][l][a])
                            .map(Number)
                            .sort((a, b) => a - b)
                            .map(num => num.toString().padStart(2, '0'));


                        for (let t of sortedKeys) {

                            for (let thread in results[x][l][a][t]) {
                                nThreads = Number(thread)

                                const testcaseCell = document.createElement('td');
                                testcaseCell.classList.add('testcase');

                                const testCaseLink = document.createElement('a');
                                let posfix = 'json';
                                if (x === 'kamada_kawai') {
                                    posfix = 'csv';
                                }

                                // const scale = results[x][l][a][t][nThreads].score * 120;
                                const score = results[x][l][a][t][nThreads].score;

                                // do scale from 0 to 255 
                                // 0 for red 
                                // 255 for green
                                // based on score


                                const hue = Math.round(score * 2.125);
                                let r = Math.round(255 - score * 255);
                                let g = Math.round(score * 255);


                                r *= 0.6;
                                g *= 0.6;

                                if (score === 1) {
                                    r = 255;
                                    g = 255;
                                    r *= 0.75;
                                    g *= 0.75;
                                }

                                if (score === 0) {
                                    r = 255;
                                    g = 0;
                                    r *= 0.75;
                                    g *= 0.75;
                                }


                                if (results[x][l][a][t][nThreads].time === 0) {
                                    testCaseLink.innerText = '/';
                                } else {
                                    testcaseCell.style.backgroundColor = `rgb(${r}, ${g}, 0)`;
                                    if (score === 1) {
                                        testCaseLink.style.color = 'black';
                                    }
                                    testCaseLink.target = '_blank';
                                    testCaseLink.href = `../src/${l}/${x}/algo/${[nThreads]}/${a}${t}.${posfix}`;
                                    testCaseLink.innerText = `${results[x][l][a][t][nThreads].time}`;
                                }

                                if (!results[x][l][a][t][nThreads].correct) {
                                    if (x === 'partition')
                                        testcaseCell.style.backgroundColor = "#941e86";
                                }

                                if (results[x][l][a][t][nThreads].time === 0) {
                                    testcaseCell.style.backgroundColor = "#1f2226";
                                }

                                testcaseCell.appendChild(testCaseLink);

                                if (firstAlgo) {
                                    langRow.appendChild(testcaseCell);
                                } else {
                                    algoRow.appendChild(testcaseCell);
                                }
                            }
                        }

                        if (!firstAlgo) {
                            problemTestcaseBody.appendChild(algoRow);
                        }

                        firstAlgo = false;
                    }
                }

                if (x === 'partition') {
                    const title = document.createElement('h2');
                    title.innerText = 'Partition';
                    result.appendChild(title);
                } else if (x === 'kamada_kawai') {
                    const title = document.createElement('h2');
                    title.innerText = 'Kamada Kawai';
                    result.appendChild(title);
                }

                problemTable.appendChild(problemTestcaseBody);
                result.appendChild(problemTable);
            }
        };

        function getColor(lang, algo) {
            console.log(lang, algo);

            if (lang === "c") {
                return `rgb(200, ${255 / algo}, ${255 / algo})`;
            } else if (lang === "go") {
                return `rgb(${255 / algo}, 200, ${255 / algo})`;
            } else if (lang === "julia") {
                return `rgb(${255 / algo}, ${255 / algo}, 200)`;
            }

            return `rgb(${255 / algo}, ${255 / algo}, ${255 / algo})`;
        }

        function doChart(problemNumber, thediv, pn, threads) {
            // create chart div
            const chartDiv = document.createElement('div');
            chartDiv.classList.add('chart-div');

            const chartLink = document.createElement('a');
            chartLink.innerHTML = `<h2>${partitionTests[problemNumber]}.json</h2>`;
            chartLink.href = `../tests/${pn}/${partitionTests[problemNumber]}.json`;
            chartLink.target = '_blank';

            chartContainer = document.createElement('div');
            chartContainer.classList.add('chart-container');
            chartContainer.style.borderRadius = "10px"
            // chartContainer.style.backgroundColor = "#000000"
            chartContainer.style.backgroundColor = "#ffffff"
            // chartContainer.style.backgroundColor = "#aaaaaa"

            const canvas = document.createElement('canvas');
            canvas.id = `chart-${pn}-${partitionTests[problemNumber]}`;
            chartContainer.appendChild(canvas);

            chartDiv.appendChild(chartLink);
            chartDiv.appendChild(chartContainer);
            thediv.appendChild(chartDiv);

            const ctx = document.getElementById(`chart-${pn}-${partitionTests[problemNumber]}`).getContext('2d');

            let ds = [];
            const labels = threads.map(Number).sort((a, b) => a - b).map(num => num.toString().padStart(2, '0'));
            for (let problemname in results) {
                if (problemname !== pn) continue;

                for (let lang in results[problemname]) {
                    let index = 2;
                    for (let algo in results[problemname][lang]) {
                        for (let problem in results[problemname][lang][algo]) {

                            if (problem !== partitionTests[problemNumber]) continue;
                            const line = {}
                            line.label = `${lang} ${algo}`;
                            line.data = [];

                            if (index === 2) {
                                line.borderDash = [1, 1];
                            } 
                            line.borderColor = getColor(lang, index);

                            line.borderWidth = 2;
                            for (let threads in results[problemname][lang][algo][problem]) {
                                if (results[problemname][lang][algo][problem][threads].time === 0) {
                                    line.data.push(0);
                                    continue;
                                }
                                line.data.push(Number(results[problemname][lang][algo][problem][threads].time));
                            }
                            // console.log(line);
                            ds.push(line);
                        }
                        index += 1;
                    }
                }
            }

            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: ds
                },
                options: {
                    scales: {
                        y: {
                            title: {
                                display: true,
                                text: 'Time (s)'
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'Threads'
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            display: true,
                            position: 'left',
                            labels: {
                                color: '#000000'
                            }
                        },
                        title: {
                            display: true,
                            text: `${pn} ${partitionTests[problemNumber]}`,
                            color: '#000000'
                        }
                    },
                    responsive: true,
                    elements: {
                        point: {
                            radius: 3,
                            hoverRadius: 5
                        }
                    },
                    aspectRatio: 2,
                    animation: {
                        duration: 1000
                    }

                }
            });

        }

        // draw charts for each testcase
        const partition_charts = document.getElementById('partition_charts');
        const kamadakawai_charts = document.getElementById('kamadakawai_charts');
        for (let pp in partitionTests) {
            doChart(pp, partition_charts, "partition", partitionThreads);
        }
        for (let kk in kamada_kawaiTests) {
            doChart(kk, kamadakawai_charts, "kamada_kawai", kamada_kawaiThreads);
        }
    </script>
</body>

</html>