<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Rezultati</title>
    <link rel="stylesheet" href="assets/check.css">
</head>

<body>
    <h1>Preverjanje rezultatov</h1>
    <i>Pravilnost posameznih programov je določena na podlagi rešitev v
        <b>tests/&lt;algoritem&gt;/solutions/&lt;xy&gt;.json</b></i>

    <div id="results"></div>

    <script src="assets/checks.js"></script>
    <script src="assets/algo.js"></script>
    <script>

        // Function to display data
        window.onload = function displayData() {
            // Partition problem
            const result = document.getElementById('results');
            for (let x in results) {
                const problemTable = document.createElement('table');
                problemTable.classList.add('problem-table');

                const problemTableHead = document.createElement('thead');
                const problemTestcaseHead = document.createElement('tr');

                const langHead = document.createElement('th');
                langHead.innerText = 'Lang';

                const algoHead = document.createElement('th');
                algoHead.innerText = 'Algo';

                const algoDescription = document.createElement('th');
                algoDescription.innerText = 'Description';

                problemTestcaseHead.appendChild(langHead);
                problemTestcaseHead.appendChild(algoHead);
                problemTestcaseHead.appendChild(algoDescription);
                problemTableHead.appendChild(problemTestcaseHead);

                if (x === 'partition') {
                    for (let y of partition) {
                        const testcase = document.createElement('th');

                        const linkToDoc = document.createElement('a');
                        linkToDoc.target = '_blank';
                        linkToDoc.href = `../tests/${x}/${y}.json`;
                        linkToDoc.innerText = `${y}`;

                        testcase.appendChild(linkToDoc);

                        problemTestcaseHead.appendChild(testcase);
                    }
                } else if (x === 'kamada_kawai') {
                    for (let y of kamada_kawai) {
                        const testcase = document.createElement('th');

                        const linkToDoc = document.createElement('a');
                        linkToDoc.target = '_blank';
                        linkToDoc.href = `../tests/${x}/${y}.json`;
                        linkToDoc.innerText = `${y}`;

                        testcase.appendChild(linkToDoc);

                        problemTestcaseHead.appendChild(testcase);
                    }
                }

                problemTable.appendChild(problemTableHead);

                const problemTestcaseBody = document.createElement('tbody');

                for (let l in results[x]) {
                    const langRow = document.createElement('tr');
                    langRow.classList.add('lang-row');

                    const langCell = document.createElement('td');
                    langCell.classList.add('lang-cell');
                    langCell.rowSpan = Object.keys(results[x][l]).length;
                    langCell.innerText = l;

                    langRow.appendChild(langCell);
                    problemTestcaseBody.appendChild(langRow);

                    let firstAlgo = true;

                    for (let a in results[x][l]) {
                        const algoRow = document.createElement('tr');

                        const algoCell = document.createElement('td');
                        algoCell.classList.add('algo-cell');
                        algoCell.rowSpan = 1;
                        algoCell.innerText = a;

                        const algoDetailCell = document.createElement('td');
                        algoDetailCell.classList.add('algo-detail-cell');
                        algoDetailCell.rowSpan = 1;
                        algoDetailCell.innerHTML = algoDetail[x][l][a] ? algoDetail[x][l][a] : '/';

                        if (firstAlgo) {
                            langRow.appendChild(algoCell);
                            langRow.appendChild(algoDetailCell);
                        } else {
                            algoRow.appendChild(algoCell);
                            algoRow.appendChild(algoDetailCell);
                        }

                        const sortedKeys = Object.keys(results[x][l][a])
                            .map(Number)
                            .sort((a, b) => a - b)
                            .map(num => num.toString().padStart(2, '0'));


                        for (let t of sortedKeys) {
                            const testcaseCell = document.createElement('td');
                            testcaseCell.classList.add('testcase');

                            const testCaseLink = document.createElement('a');
                            testCaseLink.target = '_blank';
                            let posfix = 'json';
                            if (x === 'kamada_kawai') {
                                posfix = 'csv';
                            }
                            testCaseLink.href = `../src/${l}/${x}/algo/${a}${t}.${posfix}`;
                            testCaseLink.innerText = `${results[x][l][a][t].time}`;

                            testcaseCell.appendChild(testCaseLink);

                            const scale = results[x][l][a][t].score * 120;
                            if (results[x][l][a][t].time === 0) {
                                testcaseCell.style.backgroundColor = 'hsl(0, 0%, 0%)';
                            } else {
                                testcaseCell.style.backgroundColor = `hsl(${scale}, 35%, 35%)`;
                            }

                            if (firstAlgo) {
                                langRow.appendChild(testcaseCell);
                            } else {
                                algoRow.appendChild(testcaseCell);
                            }
                        }

                        if (!firstAlgo) {
                            problemTestcaseBody.appendChild(algoRow);
                        }

                        firstAlgo = false;
                    }
                }

                if (x === 'partition') {
                    const title = document.createElement('h2');
                    title.innerText = 'Partition';
                    result.appendChild(title);
                } else if (x === 'kamada_kawai') {
                    const title = document.createElement('h2');
                    title.innerText = 'Kamada Kawai';
                    result.appendChild(title);
                }

                problemTable.appendChild(problemTestcaseBody);
                result.appendChild(problemTable);
            }
        };
    </script>
</body>

</html>