<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Rezultati</title>
    <link rel="stylesheet" href="assets/check.css">
</head>

<body>
    <h1>Preverjanje rezultatov</h1>
    <i>Pravilnost posameznih programov je določena na podlagi rešitev v <b>tests&lt;algoritem&gt;/solutions</b></i>

    <div id="results"></div>

    <script src="assets/checks.js"></script>
    <script>
        // Function to display data
        window.onload = function displayData() {
            const result = document.getElementById('results');

            for (let l in results) {
                const container = document.createElement('div');
                container.classList.add('container');

                const title = document.createElement('h2');
                title.classList.add('lang-title');
                title.innerText = l;

                const lang = document.createElement('div');
                lang.classList.add('lang');

                for (let t in results[l]) {
                    const type = document.createElement('div');
                    type.classList.add(t);

                    const typeTitle = document.createElement('h3');
                    typeTitle.classList.add('type-title');
                    typeTitle.innerText = t === "s" ? "Zaporedni programi" : "Paralelni programi";

                    const algos = document.createElement('div');
                    algos.classList.add('algos');

                    for (let a in results[l][t]) {
                        const algo = document.createElement('div');
                        algo.classList.add('algo');
                        
                        const algoTitle = document.createElement('h4');
                        algoTitle.classList.add('algo-title');
                        if (a === "partition") algoTitle.innerText = "Partitioning Problem";
                        else algoTitle.innerText = "Kamada Kawai Algorithm";
                        
                        
                        algo.appendChild(algoTitle);
                        
                        
                        const tableDiv = document.createElement('div');
                        tableDiv.classList.add('tableDiv');
                        for (let sa in results[l][t][a]) {
                            const table = document.createElement('table');
                            const th = document.createElement('th');

                            th.innerText = sa === "s" ? "Small Partitions" : sa === "l" ? "Large Partition" : "Kamada Kawai";
                            
                            table.appendChild(th);
                            for (let i in results[l][t][a][sa]) {
                                const tr = document.createElement('tr');
                                const td = document.createElement('td');
                                td.innerText = i;
                                if (results[l][t][a][sa][i] === true) {
                                    td.classList.add('correct');
                                } else {
                                    td.classList.add('incorrect');
                                }

                                tr.appendChild(td);
                                table.appendChild(tr);
                            }
                            tableDiv.appendChild(table);
                        }
                        algo.appendChild(tableDiv);

                        algos.appendChild(algo);
                    }

                    type.appendChild(typeTitle);
                    type.appendChild(algos);

                    lang.appendChild(type);
                }

                container.appendChild(title);
                container.appendChild(lang);

                result.appendChild(container);
            }

        };
    </script>
</body>

</html>