* {
    color: #ffffff;
}

body {
    background-color: #1f2226;
}

.page {
    display: flex;
}

i, i b {
    color: #908d8d
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1rem;
}

th {
    border: 1px solid white;
    padding: 0.5rem;
}

a {
    text-decoration: none;
}

.container {
    background-color: #20222a;
    border: 0.1rem solid rgb(86, 88, 92);
    padding: 0.5rem;
    margin: 0.5rem;
    width: fit-content;
}

.testcase {
    padding: 0.5rem;
    border-left: solid white 0.15rem;
    border-right: solid white 0.15rem;
    border-top: solid white 0.05rem;
    border-bottom: solid white 0.05rem;
    min-width: 7.5rem;
    max-width: 7.5rem;
    text-align: center;
}

.problem-table {
    border: solid white 0.1rem;
}

.lang-row {
    border: solid white 0.05rem;
}

.lang-cell {
    border: solid white 0.1rem;
}

.algo-cell {
    border: solid white 0.1rem;
    min-width: 7.5rem;
}

.lang-cell, .algo-cell {
    text-align: center;
}

.algo-detail-cell {
    text-align: left;
    padding: 0.25rem;
    min-width: 20rem;
    max-width: 25rem;
    border: solid white 0.1rem;
}

.file-view {
    background-color: #595b61;
    width: 100%;
}

button {
    background-color: transparent;
    border: transparent;
    color: #000;
}

.charts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.partition_charts, .kamadakawai_charts {
    width: 100%;
    margin: 1rem;
}

.partition_charts {
    border-right: solid rgb(151, 151, 151) 0.1rem;
}

.chart-div {
    padding: 1rem;
}
