* {
    color: #ffffff;
}

body {
    background-color: #2a2a31;
}

i, i b {
    color: #f97777
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1rem;
}

hr {
    border: 1px solid rgb(0, 0, 0);
}

h2 {
    color: rgb(255, 127, 127)
}

.lang {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.s, .p {
    width: 100%;
}

.algos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.algo {
    width: 100%;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}